/*--------------------------------------Generales--------------------------------------*/

* {
    box-sizing: border-box;
    font-family: 'Quicksand', sans-serif;
    margin: 0;
    padding: 0;
}

.flex-c {
    display: flex;
    flex-direction: column;
}

.flex-r {
    display: flex;
    flex-direction: row;
}

.center-items {
    align-items: center;
    justify-content: center;
}

.hide {
    display: none;
}

.size {
    min-height: 100vh;
    width: 100%;
}

.bg-color-blue {
    background-color: #8fd8d2;
}
.bg-color-lightpink{
    background-color: #ffeeea;
}
.bg-color-pink {
    background-color: #fedcd2;
}

.bg-color-darkpink{
    background-color: #df744a;
}

.bg-color-darkblue{
    background-color:rgba(85, 169, 162, .25);
}
.bg-color-white{
    background-color: #ffffff;
}
.shad{
    box-shadow: inset 0 0 .5em;
    color:rgba(45,141,133,.5);
}
.c-darkpink {
    color: #df744a;
}
.h-1{
    height: 1em;
}
.h-6{
    height: 6em;
}
.h-8{
    height: 8em;
}
.w-90{
    width: 90%;
}
.c-darkblue {
    color: #2d8d85;
}

.no-border{
    border: none;
}
.w-h-max {
    width: max-content;
    height: max-content;
}

.just-cont-sa {
    justify-content: space-around;
}

.just-cont-sb {
    justify-content: space-between;
}

.just-cont-cen {
    justify-content: center;
}

.al-self-start {
    align-self: flex-start;
}

.al-self-center {
    align-self: center;
}

.al-self-end {
    align-self: flex-end;
}

.m-auto {
    margin: auto;
}
.m-r-1{
    margin-right: 1em;
}
.m-025{
    margin: .25em;
}
.m-05{
    margin: .5em 0;
}
.pad-025{
    padding: .25em;
}
.pad-1{
    padding: 1em;
}
.w-80 {
    width: 100%;
}
.f-size-08{
    font-size: .8em;
}
.br-1{
    border-radius: 1em;
}
.m-bott-1{
    margin-bottom: 1em;
}
.border{
    border: solid #ffffff;
}
.info-comment{
    padding: .25em .75em;
    color: #2d8d85;
}
textarea {
    resize: none;
}

.b-radius{
    border-radius: 1em;
}

.write-comments{
        height: 3.5em;
        width: 95%;
        padding: .25em .75em;
        margin: .3em;
        border: none;
        border: solid  #fedcd2 1.5px;
}


/*----------------------------------------- hu1,hu2--------------------------------------------*/

.input-form {
    height: 3em;
    width: 20em;
    border-radius: 2em;
    border: none;
    margin: 1em;
    outline-style: none;
    padding: 1em;
}

.pink:focus {
    box-shadow: 0 0 5px rgb(233, 186, 186);
    border: 1px solid rgba(236, 151, 151, 0.8);
}

.btn-signup,
.btn-signin {
    height: 2.5em;
    width: max-content;
    border-radius: 2em;
    border: none;
    outline: none;
    font-size: 1em;
    font-weight: 500;
    margin: 1em;
    cursor: pointer;
    padding: 11px;
}

.btn-signin:active {
    background-color: #fdb098;
}

.btn-signup:active {
    background-color: #61d8ce;
}

.btn-registrate {
    outline: none;
    text-decoration: none;
    font-weight: 500;
}

.saludo {
    margin: 1em;
}

::placeholder {
    padding: 3%;
}

.logos-face-google {
    height: 10%;
    display: flex;
    flex-direction: row;
    align-content: center;
}

.icons-size {
    font-size: 3em;
    margin: .2em;
}

.btn-signin-social {
    cursor: pointer;
    border-radius: 3em;
    border: none;
    margin: .5em;
    background-color: transparent;
}

.logo {
    height: 8em;
    margin: 2em;
}

.error {
    color: #2d8d85;
    font-size: 1em;
    margin: 0 0 1em;
}


/*-------------------------------hu3------------------------------------------------*/

.h-f-height {
    height: 5em;
}

.shadow {
    box-shadow: 0 1px 6px 0 rgba(32,33,36,0.28);;
}

.user-info {
    margin: 5%;
    border-bottom: 2px solid white;
}

.post-label {
    margin: 1em auto;
    border-radius: 1em;
    width: 95%;
}

.post {
    width: 90%;
    padding: .5em;
    border-radius: .5em;
    border: none;
    margin: 1em;
    background-color: #ffffff;
}

.post-v {
    padding: .5em;
    border: none;
}

.post-publicated {
    width: 95%;
    padding: .25em .75em;
    margin:.25em;
    border: solid #efb9a4 1px;
    height: max-content;
    background-color:#ffffff;
}

.name-person {
    padding: 3%;
    border-bottom: 2px solid white;
}

strong {
    color: #2d8d85;
}
.m-info {
    margin: 0 1em;
}

.width {
    width: 90%;
}

.date {
    width: 100%;
    padding: .25em .75em;
}

.options-like-deleted {
    margin: 1em;
}

.btn-share {
    width: max-content;
    border: none;
    border-radius: 1em;
    padding: .5em;
    cursor: pointer;
}

.logo-home {
    height: 2.5em;
    margin-left: 30%;
}

.logo-nav {
    height: 2.5em;
    margin: 0.1em;
}

.one-col {
    display: flex;
    flex-direction: column;
    width: 100%;
}

header label {
    display: inline-block;
    font-size: xx-large;
    width: 50px;
    height: 50px;
    padding: 10px;
    border-right: 1px solid #fff;
}

header label:hover {
    cursor: pointer;
    background: rgba(0, 0, 0, 0.2);
}

.nav {
    background-color: teal;
    width: 70%;
    position: absolute;
    margin-left: -70%;
}

.nav ul {
    margin: 0;
    list-style: none;
    padding: 0;
}

.nav li {
    flex-grow: 1;
}

.nav li:hover {
    background: rgba(0, 0, 0, 0.2);
}

.nav li a {
    display: block;
    padding: 15px 20px;
    color: #fff;
    text-decoration: none;
}

#btn-menu:checked~.nav {
    margin: 0;
}

.size-profile {
    width: 90%;
    height: max-content;
    margin: 5%;
    box-shadow: 0 1px 6px 0 rgba(32,33,36,0.28);
}

.img-profile {
    margin: 1%;
    height: 4.5em;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 50%;
}

.btn-save {
    width: max-content;
    height: max-content;
    background-color: #df744a;
    float: right;
    border: none;
}

.name-comment {
    background-color: #fdb098;
}

.comment-share {
    width: 90%;
    height: 2em;
    border: 1px solid black;
}

.banner-post {
    background-color: #D1EBD9;
}

.share-label {
    display: flex;
    margin: 2%;
    justify-content: flex-end;
    width: 92%;
}

@media screen and (min-width:1000px) {
    /*--------------------------Generales-------------------------------------------------*/
    .flex-c {
        display: flex;
        flex-direction: column;
    }
    .flex-r {
        display: flex;
        flex-direction: row;
    }
    .two-col {
        display: flex;
        flex-direction: column;
        width: 50%;
        height: 100vh;
    }
    /*---------------------------------hu1--------------------------------------------------*/
    .logo-nav {
        display: block;
        height: 2.5em;
    }
    .buttons-post-label {
        width: 50%;
        background-color: #2d8d85;
        display: flex;
        justify-content: space-around;
    }
    .divpost {
        display: flex;
        flex-direction: column;
        width: 50%;
        align-items: center;
    }
    .banner {
        flex-grow: 1;
        width: 50%;
        background-size: cover;
    }
    .bnsi-image {
        background-image: url(./lib/img/1.png);
    }
    .bnsu-image {
        background-image: url(./lib/img/8.png);
    }
    .btn-signin:hover {
        background-color: #fdb098;
    }
    .btn-signup:hover {
        background-color: #61d8ce;
    }
    .input-form {
        height: 4em;
        width: 38em;
    }
    /*-------------------------------hu3------------------------------------------------*/
    header label {
        display: none;
    }
    .nav {
        margin: 0;
        width: 100%;
        position: inherit;
    }
    .nav ul {
        display: flex;
        flex-direction: row;
    }
    .nav li a {
        text-align: center;
        padding: 2%;
    }
    .logo-home {
        display: none;
    }
    .post-label {
        margin: 1em;
    }
    .post {
        width: 90%;
        border-radius: 0.5em;
        border: none;
        background-color: #ffffff;
    }
    .banner-post {
        display: flex;
        flex-direction: row;
        justify-content: center;
        background-color: #ffffff;
    }
    .size-profile {
        width: 30%;
        height: 10em;
        margin: 2%;
    }
    .post-up {
        background-color: transparent;
        width: -webkit-fill-available;
    }
    .cursor {
        cursor: pointer;
    }
    .no-center {
        justify-content: flex-start;
        align-items: end;
    }

    .img-profile-font {
        background-image: url(./lib/img/cactus-wallpaper-tres.png);
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
        background-color: #ffe7df;
        height: 50%;
    }
    .comments {
        height: 8em;
        width: 100%;
        border: 1px solid black;
    }
}