/*--------------------------------------Generales--------------------------------------*/

* {
    box-sizing: border-box;
    font-family: 'Quicksand', sans-serif;
    margin: 0;
    padding: 0;
}

.flex-c {
    display: flex;
    flex-direction: column;
}

.flex-r {
    display: flex;
    flex-direction: row;
}

.center-items {
    align-items: center;
    justify-content: center;
}

.hide {
    display: none;
}

.size {
    min-height: 100vh;
    width: 100%;
}

.bg-color-blue {
    background-color: #8fd8d2;
}

.bg-color-pink {
    background-color: #fedcd2;
}

.c-darkpink {
    color: #df744a;
}

.c-darkblue {
    color: #2d8d85;
}

.w-h-max {
    width: max-content;
    height: max-content;
}

.just-cont-sa {
    justify-content: space-around;
}

.just-cont-sb {
    justify-content: space-between;
}

.just-cont-cen {
    justify-content: center;
}


/*----------------------------------------- hu1,hu2--------------------------------------------*/

.input-form {
    height: 3em;
    width: 20em;
    border-radius: 2em;
    border: none;
    margin: 1em;
    outline-style: none;
    padding: 1em;
}

.pink:focus {
    box-shadow: 0 0 5px rgb(233, 186, 186);
    border: 1px solid rgba(236, 151, 151, 0.8);
}

.btn-signup,
.btn-signin {
    height: 2.5em;
    width: max-content;
    border-radius: 2em;
    border: none;
    outline: none;
    font-size: 1em;
    font-weight: 500;
    margin: 1em;
    cursor: pointer;
    padding: 11px;
}

.btn-signin:active {
    background-color: #fdb098;
}

.btn-signup:active {
    background-color: #61d8ce;
}

.btn-registrate {
    outline: none;
    text-decoration: none;
    font-weight: 500;
}

.saludo {
    margin: 1em;
}

::placeholder {
    padding: 3%;
}

.logos-face-google {
    height: 10%;
    display: flex;
    flex-direction: row;
    align-content: center
}

.icons-size {
    font-size: 3em;
    margin: .2em;
}

.btn-signin-social {
    cursor: pointer;
    border-radius: 3em;
    border: none;
    margin: .5em;
    background-color: transparent;
}

.logo {
    height: 8em;
    /*verificar si el logo no se ve muy grande en el celular*/
    /*border-radius: 2em;*/
    margin: 2em;
}

.error {
    color: #2d8d85;
    font-size: 1em;
    margin: 0 0 1em;
}


/*-------------------------------hu3------------------------------------------------*/

.h-f-height {
    height: 5em;
}

.post-label {
    width: 80%;
    height: 11.5em;
    border-radius: 2em;
    border: none;
    align-items: center;
    justify-content: center;
    margin: 1em;
}

.post {
    width: 90%;
    height: 9em;
    border-radius: 2em;
    border: none;
}

.btn-share {
    border: none;
    border-radius: 1em;
    margin: 1em 1.5em 0;
    padding: .4em;
    cursor: pointer;
    align-self: flex-end;
}

.logo-home {
    width: 4em;
}


.one-col {
    display: flex;
    flex-direction: column;
    width: 100%;
}
header label {
    display: block; 
    font-size: xx-large;
    width: 50px;
    height: 50px;
    padding: 10px;
    border-right: 1px solid #fff;

}
header label:hover{
        cursor: pointer;
        background: rgba(0, 0, 0, 0.2)
    }
    

.nav ul{
    margin: 0;
    list-style: none;
    padding: 0;
    display: flex;
    flex-direction: column;
}
.nav li{
    flex-grow: 1;
    /* border-right: 1px solid #fff; */
border-top: 1px solid #fff;
}
.nav li:hover{
    background: rgba(0,0,0,0.2);
}
.nav li a {
    display: block;
    padding:15px 20px;
    color: #fff;
    text-decoration: none;
} 
/* #btn-menu: checked-.nav {
    margin:0;
} */

.nav {
    background-color: teal;
    width: 70%;
    position: absolute;
     margin-left: -70%;
   /* display: flex;
    flex-direction: column; */
    }
.img-profile{
    border-block: 3px solid black;
}
@media screen and (min-width:1126px) {
    /*--------------------------Generales-------------------------------------------------*/
    .flex-c {
        display: flex;
        flex-direction: column;
    }
    .flex-r {
        display: flex;
        flex-direction: row;
    }
    .two-col {
        display: flex;
        flex-direction: column;
        width: 50%;
        height: 100vh;
    }
    /*---------------------------------hu1--------------------------------------------------*/
    .banner {
        flex-grow: 1;
        width: 50%;
        background-size: cover;
    }
    .bnsi-image {
        background-image: url(./lib/img/1.png);
    }
    .bnsu-image {
        background-image: url(./lib/img/8.png);
    }
    .btn-signin:hover {
        background-color: #fdb098;
    }
    .btn-signup:hover {
        background-color: #61d8ce;
    }
    .input-form {
        height: 4em;
        width: 38em;
    }
    /*-------------------------------hu3------------------------------------------------*/
    /* .h-f-height {
        height: 5em;
    } */
/*    
    header label{
        display: none;
     } */
    

    .size-profile {
        width: 26%;
        height: 13em;
        background-color: #2d8d85;
    }
    .post-label {
        width: 70%;
        height: 11.5em;
        border-radius: 2em;
        border: none;
        align-items: center;
        justify-content: center;
    }
    .post {
        width: 90%;
        height: 9em;
        border-radius: 2em;
        border: none;
    }
    .btn-share {
        border: none;
        border-radius: 1em;
        margin: 1em 1.5em 0;
        padding: .4em;
        cursor: pointer;
        align-self: flex-end;
    }
    .logo-home {
        height: 4em;
    }
}